<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Información App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
         
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/list']">Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/new']">Agregar</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>