<div class="card mt-2">
    <div class="card-header">
        INFORMACIÓN
    </div>
    <div class="card-body">    
        <form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave()" [formGroup]="employeeForm">
            <div class="card-header">
                DATOS PERSONALES
            </div>
            <div class="mt-1 form-row">
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [class]="isValidField('nombre')">
                    <div class="invalid-feedback">
                         <span *ngIf="employeeForm.get('nombre').errors?.required">
                            El campo es requerido
                        </span> 
                    </div>
                </div>
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellido" >
                     <span *ngIf="employeeForm.get('apellido').errors?.required">
                            El campo es requerido
                    </span>
                </div>
            </div>

            <div class="mt-1 input-group col-md-6">
                <input type="number" class="form-control" placeholder="Número de identificación" formControlName="cedula" >
              <span *ngIf="employeeForm.get('cedula').errors?.required">
                        El campo es requerido
                    </span>
            </div>

            <div class="mt-1 input-group col-md-6">
                <input type="number" class="form-control" placeholder="Número de Celular" formControlName="celular" >
              <span *ngIf="employeeForm.get('celular').errors?.required">
                        El campo es requerido
                    </span>
            </div>

            <div class="mt-1 form-row">
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" >
                     <span *ngIf="employeeForm.get('email').errors?.required">
                            El campo es requerido
                        </span>
                        <span *ngIf="employeeForm.get('email').errors?.pattern">
                            Debe ser un email válido
                        </span>
                </div>
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Fecha de Nacimiento" formControlName="fecha" >
                  <span *ngIf="employeeForm.get('fecha').errors?.required">
                            El campo es requerido
                        </span>
                </div>
            </div>
            <div class="mt-2 card-header">
                DATOS DE RESIDENCIA
            </div>
            <div class="mt-1 form-row">
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Departamento" formControlName="departamento" [class]="isValidField('departamento')">
                    <div class="invalid-feedback">
                         <span *ngIf="employeeForm.get('departamento').errors?.required">
                            El campo es requerido
                        </span> 
                    </div>
                </div>
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" >
                     <span *ngIf="employeeForm.get('ciudad').errors?.required">
                            El campo es requerido
                    </span>
                </div>
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Barrio" formControlName="barrio" >
                     <span *ngIf="employeeForm.get('barrio').errors?.required">
                            El campo es requerido
                    </span>
                </div>
                <div class="mt-1 input-group col-md-6">
                    <input type="text" class="form-control" placeholder="Dirección de residencia" formControlName="direccion" >
                     <span *ngIf="employeeForm.get('direccion').errors?.required">
                            El campo es requerido
                    </span>
                </div>
            </div>
            <div class="mt-2 card-header">
                DATOS FINANCIEROS
            </div>
            <div class="mt-1 input-group col-md-6">
                <input type="number" class="form-control" placeholder="Salario" formControlName="salario" >
                 <span *ngIf="employeeForm.get('salario').errors?.required">
                        El campo es requerido
                </span>
            </div>
            <div class="mt-1 input-group col-md-6">
                <input type="number" class="form-control" placeholder="Otros ingresos" formControlName="otrosin" >
                 <span *ngIf="employeeForm.get('otrosin').errors?.required">
                        El campo es requerido
                </span>
            </div>
            <div class="mt-1 input-group col-md-6">
                <input type="number" class="form-control" placeholder="Gastos mensuales" formControlName="gastosmen" >
                 <span *ngIf="employeeForm.get('gastosmen').errors?.required">
                        El campo es requerido
                </span>
            </div>
            <div class="mt-1 input-group col-md-6">
                <input type="number" class="form-control" placeholder="Gastos financieros" formControlName="gastosfin" >
                 <span *ngIf="employeeForm.get('gastosfin').errors?.required">
                        El campo es requerido
                </span>
            </div>
        </form>
    </div>

    <div class="btn-group" role="group">
        <button type="submit" class="btn bg-dark btn-block text-light" (click)="onSave()">Guardar</button>
    </div>
</div>
<button type="button" class="btn btn-secondary m-2" (click)="onGoToBackToList()">Inicio</button>

