<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de nacimiento</th>
            <th class="d-none d-sm-block" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active" *ngFor="let item of employees$ | async">
            <th scope="row">{{item.nombre}} {{item.apellido}}</th>
            <td>{{item.email}}</td>
            <td>{{item.fecha}}</td>
            <td class="btn-group d-none d-sm-block" role="group">
                <button type="button" class="btn btn-warning m-1" (click)="onGoToEdit(item)">Editar</button>
                <button type="button" class="btn btn-info m-1" (click)="onGoToSee(item)">Detalles</button>
                <button type="button" class="btn btn-danger m-1" (click)="onGoToDelete(item.id)">Borrar</button>
            </td>
          </tr>
          
        </tbody>
      </table>

</div>