<div class="card mt-2">
    <div class="card-header">
        Detalles
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                Nombre: <h5>{{value.nombre}} {{value.apellido}}</h5>
            </li>
            <li class="list-group-item">
                Email: <h5>{{value.email}}</h5>
            </li>

            <li class="list-group-item">
                Cédula: <h5>{{value.cedula}}</h5>
            </li>
            <li class="list-group-item">
                Celular: <h5>{{value.celular}}</h5>
            </li>
            <li class="list-group-item">
                Departamento: <h5>{{value.departamento}}</h5>
            </li>
            <li class="list-group-item">
                Ciudad: <h5>{{value.ciudad}}</h5>
            </li>
            <li class="list-group-item">
                Barrio: <h5>{{value.barrio}}</h5>
            </li>
            <li class="list-group-item">
                Direccion: <h5>{{value.direccion}}</h5>
            </li>
            <li class="list-group-item">
                Salario: <h5>{{value.salario}}</h5>
            </li>
            <li class="list-group-item">
                Otros Ingresos: <h5>{{value.otrosin}}</h5>
            </li>
            <li class="list-group-item">
                Gastos Mensuales: <h5>{{value.gastosmen}}</h5>
            </li>
            <li class="list-group-item">
                Gastos Financieros: <h5>{{value.gastosfin}}</h5>
            </li>
           
            <li class="list-group-item">
                Fecha: <h5>{{value.fecha}}</h5>
            </li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit()">Editar</button>
        <button type="button" class="btn btn-outline-danger m-1 btn-sm" (click)="onDelete()">Eliminar</button>
    </div>
</div>
<button type="button" class="btn btn-secondary m-2" (click)="onGoToBackToList()">Inicio</button>